* {
  box-sizing: border-box;
}

body {
  font-family: : Verdana, sans-serif;
}

.logo{
  position: absolute;
  display: block;
  margin-left: 350px;
  margin-top: 190px;
  padding: 15px;
}

.search-bar {
  position: absolute;
  border: 0;
  margin-left: 375px;
  margin-top: 325px;
}

input {
  position: absolute;
  padding:10px;
  width: 510px;
  margin-left: -140px;
  border-style: solid;
  border-color: blue;
}

button.lucky, button.google-search {
  position: absolute;
  width: 125px;
  border-radius: 2px;
  margin-top: 75px;
  margin-left: 120px;
  padding: 10px;
  border: none;
  background-color: #FCFCFC;
  text-align: center;
  color: gray;
  font-size: 90%;
  font-weight: 500;
}

button.lucky:hover, button.google-search:hover {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
  color: black;
}

button.google-search {
  margin-left: -15px;
}

.upper-nav {
  position: absolute;
  padding: 5px;
  top: 0px;
  right: 0px;
}

.lower-nav {
  position: absolute;
  padding: 5px;
  bottom: 0px;
}
